button {
  font-family: Sulphur Point;
  font-size: var(--buttonFontLinkSizeBig);
  font-weight: 300;
  padding: 10px 20px;
  border: 1px solid var(--primaryColor);
  z-index: 15;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.25s;
}

.greenButton {
  background-color: var(--primaryColor);
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background-color and color */
}

.greenButton:hover {
  background-color: transparent !important;
  color: var(--primaryColor) !important;
}

.emptyButton {
  background-color: transparent;
  color: var(--primaryColor);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background-color and color */
}

.emptyButton:hover {
  background-color: var(--primaryColor);
  color: white;
}

.emptySquareButton {
  background-color: transparent;
  box-sizing: border-box;
  height: 58px;
  border-radius: 0px;
  border: 0;
  border-left: var(--borderLenght) solid var(--primaryColor);
  flex-grow: 1;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background-color and color */
}

.emptySquareButton:hover {
  background-color: var(--primaryColor);
  color: white;
}

@media (max-width: 1280px) {
  button {
    font-size: var(--buttonFontLinkSizeSmall);
  }
}

@media (max-width: 750px) {
  .emptySquareButton {
    border-top:  var(--borderLenght) solid var(--primaryColor);
    height: 60px;
    width: 100%;
  }
}