.hero {
  margin-top: var(--headerHeight);
  display: grid;
  grid-template-columns: var(--marginBorders) auto var(--marginBorders);
  box-sizing: border-box;
  width: 100vw;
  padding: 0;
  position: fixed;
  top: 0;
}

.dividerLeft {
  box-sizing: border-box;
  width: var(--marginBorders);
  max-width: var(--marginBorders);
  padding: 0;
  margin: 0;
  height: calc(70vh - var(--headerHeight));
  min-height: 610px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-right: var(--borderLenght) solid var(--primaryColor);
  margin-bottom: 60px;
}

.invertedText {
  padding-top: 25px;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  font-family: var(--paragraphFontFamily);
  font-weight: 100;
  font-size: 20px;
  color: var(--primaryColor);
  opacity: 0.5;
}

.heroContent {
  width: 100%;
  max-width: 1480px;
  margin: 0px;
  display: flex;
  justify-self: center;
  max-height: 550px;
}

.heroContent ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(50vw - 2 * var(--marginBorders));
  padding: 0;
  margin: 0px 30px 0px 60px;
  gap: 40px;
}

.heroContent h1 {
  font-size: var(--titleFontH1Size);
  font-weight: 100;
  text-align: left;
  margin: 0;
  margin-top: 60px;
}

.heroContent h2 {
  text-align: left;
  font-weight: 200;
  margin: 0;
}

.heroContent img {
  padding-top: 60px;
  max-width: calc(45vw - 2 * var(--marginBorders));
  height: max-content;
}

.buttonContainer {
  display: flex;
  gap: 25px;
}

@media (max-width: 1280px) {
  .heroContent h1 {
    font-size: 70px;
  }

  .heroContent ul {
    gap: 30px;
  }
}
