.menu {
  display: grid;
  grid-template-columns: var(--marginBorders) 180px auto 180px var(
      --marginBorders
    );
  box-sizing: border-box;
  height: var(--headerHeight);
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  border-bottom: var(--borderLenght) solid var(--primaryColor);
  z-index: 10;
}

.menu div {
  border-right: var(--borderLenght) solid var(--primaryColor);
}

.menu h2 {
  margin: auto 0;
  font-family: Cinzel;
  font-weight: 300;
  text-align: left;
  padding-left: 20px;
  color: var(--primaryColor);
}

.menu ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: inherit;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: var(--maxWidth);
}

.menu a {
  font-family: var(--titleFontFamily);
  font-size: var(--titleFontLinkSize);
  font-weight: 100;
  color: var(--primaryColor);
  transition: font-weight 0.2s ease; /* Smooth transition for font-weight */
}

.menu a:hover,
.menu .focused {
  cursor: pointer;
  font-weight: 600;
}

.menu a:hover {
  text-decoration: underline;
}

.menu ul:nth-child(3) {
  width: 100%;
  justify-content: space-between;
  justify-self: center;
  padding: 0px 25px;
  max-width: var(--maxWidth);
}

.menu ul:nth-child(4) {
  gap: 10px;
  justify-content: flex-end;
  padding-right: 25px;
}

.menu img {
  width: 50px;
}

.menu_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  gap: 10px;
}

.menu_button span {
  color: var(--primaryColor);
}

.menu_button img {
  height: 30px;
  width: 30px;
}

.divider {
  border-bottom: var(--borderLenght) solid var(--primaryColor);
  height: var(--borderLenght);
  width: 100%;
}

@media (max-width: 2000px) {
  .menu {
    grid-template-columns: var(--marginBorders) 180px auto 60px var(
        --marginBorders
      );
  }
  .menu ul:nth-child(3) {
    justify-content: space-around;
  }
}

@media (max-width: 1280px) {


  .heroContent h1 {
    font-size: 60px;
  }
  .heroContent h2 {
    font-size: 20px;
  }
  .heroContent ul {
    gap: 30px;
  }
  .heroContent ul {
    width: 40%;
  }
  .heroContent img {
    width: 50%;
    max-width: calc(65vw - 2 * var(--marginBorders));
  }
}

@media (max-width: 1080px) {

  .menu ul:nth-child(4) {
    padding-right: 0;
  }
  
  .menu ul:nth-child(3) {
    justify-content: center;
  }
  .heroContent h1 {
    font-size: 48px;
  }
  .heroContent h2 {
    font-size: 18px;
  }
  .buttonContainer {
    flex-direction: column;
  }
}
