

nav .NavBarContainer {
    background-color: #fff;
    border-bottom: 1px solid #000;
    height: 60px;
    display: grid;
    grid-template-columns:  60px 2fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas:  "- logo home services products about_us contact";
}  
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: auto;
  }

nav .Nav-home {
  grid-area: home;
}

nav .Nav-products {
  grid-area: products;
}


nav .Nav-services {
  grid-area: services;
}

nav .Nav-about_us {
  grid-area: about_us;
}

nav .Nav-contact {
  grid-area: contact;
}

nav .Logo-header{
    padding-bottom: 10px;
    padding-top: 10px;
    height: 40px;
    padding-left: 20px;
    grid-area: logo;
    border-left: 1px solid black;
  }

.Logo-header h1 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
  font-family: Cinzel;
  padding: 0;
  margin: 0;
}  

.Logo-header p {
  font-family: Sulphur Point;
  font-size: 12px;
  margin-top: 0;
  padding-top: 0;
}
  
nav li {
    display: inline;
    margin-right: 20px; /* Adjust as needed */
    display: flex;
    align-items: center;
  }
  
nav a {
    text-decoration: none;
    color: #000;
  }
  
nav a:hover {
    color: grey;
    text-decoration: underline;
  }
  